---
import { Icon } from 'astro-icon'
import { app } from '../core/firebaseInit'
import {
    getFirestore,
    collection,
    query,
    orderBy,
    getDocs,
    doc,
} from 'firebase/firestore'

const db = getFirestore(app)

const q = query(collection(db, 'stacks'), orderBy('position', 'asc'))

const stacks = await getDocs(q)
---

<section class="relative">
    <div
        class="absolute inset-0 bg-blue-50 dark:bg-slate-800 pointer-events-none mb-32"
        aria-hidden="true"
    >
    </div>
    <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
            <div class="mb-8 text-center">
                <p
                    class="text-base text-blue-600 dark:text-blue-200 font-semibold tracking-wide uppercase"
                >
                    The Stack
                </p>
                <h2
                    class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
                >
                    Programming Languages and skills
                </h2>
                <p
                    class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400"
                >
                    Here you can learn what Languages, Frameworks and skills
                    that I use.
                </p>
            </div>
            <div
                class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-1"
            >
                {
                    stacks.docs.map((stack) => (
                        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800 dark:text-white">
                            <div class="flex justify-center items-center mb-4">
                                <div class="ml-4 text-xl font-bold">
                                    {stack.data().name}
                                </div>
                            </div>
                            <div class="grid grid-cols-3 gap-1 justify-items-start">
                                {stack.data().items.map((item: string) => (
                                    <div class="bg-gray-200 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800 dark:text-slate-400">
                                        {item}
                                    </div>
                                ))}
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>
