---
---

<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20">
            <div class="text-center pb-12 md:pb-16">
                <h1
                    class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4"
                >
                    Welcome to
                    <span
                        class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
                        >Gustavo Cabezal
                    </span> Portfolio Website
                </h1>
                <div class="max-w-3xl mx-auto">
                    <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
                        Here you can find how to contact me, about my stacks and
                        what I like to learn about. Also you can check my
                        repository and projects, and the content I have being
                        posting.
                    </p>
                    <!-- <div class="max-w-none flex justify-center">
                        <div>
                            <a
                                class="btn text-white bg-blue-600 hover:bg-blue-800 mb-4 sm:mb-0 font-bold"
                                href="https://github.com/onwidget/astrowind"
                                target="_blank"
                                rel="noopener"
                                >Get template
                            </a>
                        </div>
                        <div>
                            <a
                                class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
                                href="#features"
                                >Learn more
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
